@charset "UTF-8";
/* Body */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: #222629;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	padding: 0px;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #222629;
	border-bottom: 1px solid #61892F;
}
.logo {
	color: #61892F;
	font-family: Roboto;
	font-weight: bold;
	text-align: undefined;
	width: 20%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 75%;
	font-family: Roboto;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #61892F;
	font-family: Roboto;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	background-color: 222629;
}
ul li a {
	color: #61892F;
	text-decoration: none;
}
ul li:hover a {
	color: #86C232;
}
.section_title {
	color: #FFF;
	text-align: left;
	letter-spacing: 8px;
}
.contact_title {
	color: #000;
	text-align: left;
	letter-spacing: 8px;
}
.home_header {
	color: #474B4F;
	font-family: Roboto;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	padding-top: 150px;
	padding-bottom: 50px;
}
/* Hero Section */
.home {
	background-color: #6B6E70;
	padding-top: 150px;
	padding-bottom: 150px;
}
.tagline {
	text-align: center;
	color: #61892F;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: auto;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #222629;
	margin-top: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}

/* Parallax Section */
.home-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.pro-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.per-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.contact-text{
	width: 70%;
	margin-left: 24px;
	float: left;
}
.contact-links{
	width: 30%;
	padding: 4px;
	float: right;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 6px;
	padding-bottom: 12px;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

.linked-in{
	background-image: url("../images/icons/linkedin-icon.png");
}

* {
  box-sizing: border-box;
}
.image-container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	object-fit: contain;
	margin-bottom: 36px;
	background-color: #222629;
	display: flex;
	align-items: center;
 	justify-content: center;

}
.box{
	width: 350px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(13, 15, 16, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.box:hover{
	background-color: #6b6e70;
	transform-style: preserve-3d;
	transform: scale(1.05);
	transition: all ease 0.3s;
}
.picture{
	height: 500px;
	max-height: 550px;
	max-width: 100%;

}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	color: #FFF;
}
details p{
	font-family: Roboto;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-top: 20px;
}
.title{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 12.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(13, 15, 16, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222629;
  padding: 2px 16px;
  color: white;
  font-size: 14pt;
  height: 60px;
}
.row > .column{
	padding: 0 8px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 150px;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #222629;
}
.modal-content{
	background-color: #474B4F;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	width: 75%;
	justify-content: center;
}
.close{
	color:#6b6e70;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}
.close:hover,
.close:focus{
	color: #61892F;
	text-decoration: none;
	cursor: pointer;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
img{
	max-height: 600px;
	max-width: 100%;
	margin: auto;
	object-fit: cover;
}
.thumbnail-img{
	height: 150px;
	width: 100%;
    object-fit: cover;
	object-position: center;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #61892F; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

#myBtn:hover {
  background-color: #474B4F; /* Add a dark-grey background on hover */
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100px;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.section_title {
	color: #FFF;
	text-align: left;
	letter-spacing: 8px;
}.contact_title {
	color: #000;
	text-align: left;
	letter-spacing: 8px;
}
/* Parallax Section */
.home-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.pro-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.per-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #222629;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.home-banner, .bottom-banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
.section_title {
	color: #FFF;
	text-align: left;
	letter-spacing: 8px;
}
	.contact_title {
	color: #000;
	text-align: left;
	letter-spacing: 8px;
}
/* Parallax Section */
.home-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.pro-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.per-banner {
	background-color: #2D9AB7;
	background-image: url("../images/parallax.png");
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;    
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.home-banner, .bottom-banner {
	padding-left: 20px;
	padding-right: 20px;
}
}